<div class="container">
  <div class="row" data-ng-controller="FooterController">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <img class="pull-right qr" src="/uploads/site.png" />
      <ul class="list-inline text-right">
        <li data-ng-if="site.ip">
          <a href="http://{{site.ip}}:3000"><i class="fa fa-globe"></i> <strong>{{site.ip}}:3000</strong></a>
        </li>
        <li>
          <a href="http://www.pinterest.com/wayfarerboy/li57en-70-meh"><i class="fa fa-pinterest"></i> Pinterest board</a>
        </li>
      </ul>
    </div>
  </div>
</div>
