<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="navbar-header pull-left">
        <a href="/#!/" class="navbar-brand"><span class="byc">fake</span>book <small>{{authentication.user.displayName}}</small></a>
      </div>
      <div class="navbar-header pull-right btn-group" data-ng-controller="HeaderController">
        <a data-ng-repeat="item in menu.items | orderBy:'delta'" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute,btn:true,'navbar-btn':true, 'btn-primary':item.title === 'Add', 'btn-default':item.title !== 'Add'}" href="/#!/{{item.link}}"><i data-ng-if="item.icon" data-ng-attr-class="fa fa-{{item.icon}}"></i><span class="hidden-xs"> {{item.title}}</span></a>
        <a class="navbar-btn btn btn-default" href="/auth/signout" data-ng-if="authentication.user"><i class="fa fa-sign-out"></i><span class="hidden-xs"> Logout</span></a>
        <a ui-route="/register" ng-class="{active: $uiRoute,btn:true,'navbar-btn':true}" data-ng-if="!authentication.user" href="/#!/register">Register</a>
        <a ui-route="/login" ng-class="{active: $uiRoute,btn:true,'navbar-btn':true}" data-ng-if="!authentication.user" href="/#!/login">Login</a>
      </div>
    </div>
  </div>
</div>
