/* line 3, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/main.scss */
body {
  background: white;
}

/* line 11, ../sass/main.scss */
header.navbar {
  background: center center repeat-x url("../img/brand/clouds.jpg");
  -moz-background-size: auto 200%;
  -o-background-size: auto 200%;
  -webkit-background-size: auto 200%;
  background-size: auto 200%;
}

/* line 16, ../sass/main.scss */
.content {
  background: #9ae4e8;
  padding-top: 60px;
  padding-bottom: 3rem;
}

/* line 22, ../sass/main.scss */
footer.footer {
  font-size: 1.6rem;
  background: white;
}
/* line 25, ../sass/main.scss */
footer.footer .row {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* line 29, ../sass/main.scss */
footer.footer .list-inline {
  margin-top: 2rem;
}
/* line 32, ../sass/main.scss */
footer.footer .qr {
  height: 8rem;
}

/* line 37, ../sass/main.scss */
.page-header {
  margin-top: 0.5rem;
}
/* line 39, ../sass/main.scss */
.page-header h1 {
  font-size: 1.8rem;
  margin: 0;
}

/* line 45, ../sass/main.scss */
a.navbar-brand {
  color: #18666b;
  font-size: 2.4rem;
}
/* line 48, ../sass/main.scss */
a.navbar-brand .byc {
  font-weight: bold;
  color: #e11f2a;
}

/* line 54, ../sass/main.scss */
.undecorated-link:hover {
  text-decoration: none;
}

/* line 58, ../sass/main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
