@import 'compass';

html,body {
  height: 100%;
}

body {
  background: white;
}

header.navbar {
  background: center center repeat-x url('../img/brand/clouds.jpg');
  @include background-size(auto 200%);
}

.content {
  background: #9ae4e8;
	padding-top: 60px;
  padding-bottom: 3rem;
}

footer.footer {
  font-size: 1.6rem;
  background: white;
  .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .list-inline {
    margin-top: 2rem;
  }
  .qr {
    height: 8rem;
  }
}

.page-header {
  margin-top: 0.5rem;
  h1 {
    font-size: 1.8rem;
    margin: 0;
  }
}

a.navbar-brand {
  color: darken(#9ae4e8, 50%);
  font-size: 2.4rem;
  .byc {
    font-weight: bold;
    color: #e11f2a;
  }
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
