<div class="file-view" data-ng-if="file && file.filepath">
  <img data-ng-src="/images/{{resolution}}/{{file.filepath}}" data-ng-srcset="/images/{{resolution}}/{{file.filepath}}, /images/{{resolution | multiRes}}/{{file.filepath}} x2" class="preview" data-ng-if="file.filetype === 'image'" />
  <video autoplay controls data-ng-attr-poster="/images/{{resolution}}/{{file.filepath}}.jpg" data-ng-if="file.filetype === 'video'">
    <source data-ng-src="{{file.filepath | videoSrcMp4}}" type="video/mp4" />
  </video>
</div>
