<div class="file-thumb-view">
  <img data-ng-attr-data-src="/images/{{resolution}}/{{file | thumbnailBg}}" data-ng-attr-data-srcset="/images/{{resolution}}/{{file | thumbnailBg}}, /images/{{resolution | multiRes}}/{{file | thumbnailBg}} x2" class="preview" data-ng-if="lazyload" />
  <img data-ng-src="/images/{{resolution}}/{{file | thumbnailBg}}" data-ng-srcset="/images/{{resolution}}/{{file | thumbnailBg}}, /images/{{resolution | multiRes}}/{{file | thumbnailBg}} x2" class="preview" data-ng-if="!lazyload" />
</div>
