<section data-ng-controller="FilesController" data-ng-init="find()">
  <div class="page-header">
    <h1>Files</h1>
  </div>
  <div data-ng-repeat="file in files">
    <button type="button" class="close" aria-hidden="true" data-ng-click="remove(file)">&times;</button>
    <small class="list-group-item-text">{{file.created | date:'medium'}} / {{file.user.displayName}}</small>
    <h4 class="list-group-item-heading">{{file.name}}</h4>
  </div>
</section>
