<section data-ng-controller="PostsController" data-ng-init="findOne()">
  <div class="col-md-12">
    <form class="form-horizontal" enctype="multipart/form-data" data-ng-submit="update()" novalidate>
      <div class="row">
        <div class="uploader col-sm-2">
          <uploader data-ng-model="file" data-resolution="75x75" data-file="post.file" action="/upload"></uploader>
          <hr />
        </div>
        <div class="col-sm-10">
          <div class="controls">
            <textarea type="text" rows="3" data-ng-model="post.tweet" id="tweet" class="form-control" placeholder="Enter your text here...">{{post.tweet}}</textarea>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
				<div data-ng-show="error" class="text-danger col-sm-10 col-sm-offset-2 text-center">
					<strong>{{error}}</strong>
				</div>
        <div class="col-sm-10 col-sm-offset-2 text-center">
          <a class="btn btn-default" data-ng-href="#!/posts/{{post._id}}">Cancel</a>
          <input value="Update" type="submit" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</section>
