<section data-ng-controller="PostsController" data-ng-init="findOne()">
	<div class="pull-right" data-ng-show="authentication.user._id == post.user._id">
		<a class="btn btn-primary" href="/#!/posts/{{post._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
    <em class="text-muted"><strong>{{post.user.username}}</strong></em>
	</small>
  <p class="tweet" data-ng-if="post.tweet">{{post.tweet}}</p>
  <file-view data-resolution="640x" data-file="post.file"></file-view>
</section>
