<section class="row" data-ng-controller="SettingsController" data-ng-init="findOne()">
  <h3 class="col-md-12 text-center">Change <span data-ng-if="user._id === profile._id">your </span>password<span data-ng-if="user._id !== profile._id"> for <em>{{profile.username}}</em></span></h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-if="profile._id === user._id" class="form-group">
					<label for="currentPassword">Current Password</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
				</div>
				<div class="form-group">
					<label for="newPassword">New Password</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label for="verifyPassword">Verify Password</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="text-right form-group">
          <a class="btn btn-large btn-default" data-ng-href="/#!/admin/users" data-ng-if="profile._id !== user._id">Cancel</a>
					<button type="submit" class="btn btn-large btn-primary">Save Password</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Password Changed Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
