<section class="row" data-ng-controller="SettingsController" data-ng-init="findOne()">
  <h3 class="col-md-12 text-center">Edit <span data-ng-if="user._id === profile._id">your </span>profile<span data-ng-if="user._id !== profile._id"> for <em>{{profile.username}}</em></span></h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		<form data-ng-submit="updateUserProfile()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="profile.username" placeholder="Username">
				</div>
        <div class="hidden">
          <input type="hidden" id="password" name="password" data-ng-model="profile.password">
        </div>
				<div class="text-left checkbox" data-ng-if="user.email === 'generamics@gmail.com' || user.username === 'Al Pagan'">
          <label>
            <input type="checkbox" id="roles-admin" name="roles-admin" data-ng-model="roles.admin" data-ng-change="changeRoles()" data-ng-checked="checkRoles()"> Admin
          </label>
				</div>
				<div class="text-right form-group">
          <button type="button" class="btn btn-large btn-danger" data-ng-click="reallyDelete(profile)" data-ng-if="profile._id !== user._id"><span class="glyphicon glyphicon-trash"></span></button>
          <a class="btn btn-large btn-default" data-ng-href="/#!/admin/users" data-ng-if="profile._id !== user._id">Cancel</a>
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
