<section data-ng-controller="HashtagsController">
  <h4>New hashtag</h4>
  <form class="form" data-ng-submit="create()" novalidate>
    <div class="form-group">
      <div class="controls">
        <input type="text" data-ng-model="tag" id="tag" class="form-control" placeholder="Hashtag without the #" required>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Brief description here" required>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary">
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong>{{error}}</strong>
    </div>
  </form>
</section>
