<section data-ng-controller="HashtagsController" data-ng-init="findOne()">
  <div class="page-header">
		<a class="pull-right btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
    <h1>Edit Hashtag</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="tag">Tag</label>
          <div class="controls">
            <input type="text" data-ng-model="hashtag.tag" id="tag" class="form-control" placeholder="Hashtag without the #" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input type="text" data-ng-model="hashtag.description" id="description" class="form-control" placeholder="Hashtag description..." required>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary">
          <button type="cancel" class="btn btn-default" data-ng-href="/#!/hashtags">Cancel</button>
        </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
      </fieldset>
    </form>
  </div>
</section>
