<section data-ng-controller="HashtagsController" data-ng-init="find()">
  <h4>
    <span data-ng-repeat="hashtag in hashtags">
      <span class="label label-default" data-ng-click="addToField(hashtag.tag)">#{{hashtag.tag}}</span>
    </span>
  </h4>
</section>
