<section data-ng-controller="HashtagsController" data-ng-init="find()">
  <table class="table">
    <tbody>
      <tr data-ng-repeat="hashtag in hashtags" data-ng-attr-class="list-group-item">
        <td>
          <h4 class="list-group-item-heading">#{{hashtag.tag}} <small>{{hashtag.description}} <a data-ng-if="authentication.user.roles.indexOf('admin') > -1" data-ng-href="#!/hashtags/{{hashtag._id}}/edit">Edit</a></small></h4>
        </td> 
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning text-center" data-ng-hide="!hashtags.$resolved || hashtags.length">
    No hashtags yet, why don't you <a href="/#!/hashtags/create">create one</a>?
  </div>
  <div class="well" data-ng-if="authentication.user.roles.indexOf('admin') > -1" data-ng-include="'/modules/hashtags/views/create-hashtag.client.view.html'"></div>
  <button class="btn btn-danger btn-sm" data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') > -1" data-ng-click="deleteAll()">Reset</button>
</section>
