@import 'compass';

.hashtags a.label {
  display: inline-block;
  margin: 0.3rem 0;
}

.post-anchor {
  position: relative;
  top: -60px;
}

video {
  width: 100%;
  max-height: 37.5rem; 
}

.file-wrapper img {
  width: 100%;
  margin-bottom: 0.5rem;
  @include transition(opacity 0.5s);
  &[data-src],.lazy-hidden {
    @include opacity(0);
  }
  &.lazy-loaded {
    @include opacity(1);
  }
}

.file-wrapper {
}

.file-thumb-view {
  cursor: pointer;
}

.file-view {
  img { 
    margin: 0 auto 0.5rem auto;
  }
}

.expanded {
  .file-wrapper { max-height: 1066px; }
  .file-thumb-view { cursor: auto; }
}

.expand-post,.collapse-post {
  cursor: pointer;
}

.tweet {
  font-size: 1.6em;
}
