<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Add a new user</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		<form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="profile.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="profile.password" placeholder="Password">
				</div>
				<div class="text-right form-group">
					<a href="/#!/admin/users" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-large btn-primary">Add user</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
