<section data-ng-controller="SettingsController" data-ng-init="findAll()">
  <div class="page-header clearfix">
    <h1 class="pull-left">Users</h1>
    <a class="pull-right btn btn-primary" data-ng-href="/#!/admin/users/add">Add a new user</a>
  </div>
  <table class="table users">
    <thead>
      <tr>
        <th><a data-ng-click="predicate = 'username'; reverse=predicate!=='username'?false:!reverse||false">Name</a> <span data-ng-if="predicate === 'username' || !predicate" data-ng-class="{glyphicon:true, 'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
        <th>Email</th>
        <th>Password</th>
        <th><a data-ng-click="predicate = 'roles'; reverse=predicate!=='roles'?false:!reverse||false">Role</a> <span data-ng-if="predicate === 'roles'" data-ng-class="{glyphicon:true, 'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
        <th><a data-ng-click="predicate = 'created'; reverse=predicate!=='created'?false:!reverse||false">Created</a> <span data-ng-if="predicate === 'created'" data-ng-class="{glyphicon:true, 'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="u in users | orderBy:predicate:reverse" data-ng-class="{active:u.roles.indexOf('admin')>-1}">
        <td>
          <a data-ng-if="canEdit(u)" data-ng-href="/#!/admin/users/{{u._id}}/edit">{{u.username}} 
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <span data-ng-if="!canEdit(u)">{{u.username}} <span data-ng-if="u._id === user._id" class="label label-info">me </span></span>
        </td>
        <td>{{u.email}} <small><strong>{{u.provider}}</strong></small></td>
        <td>
          <a data-ng-if="canEdit(u)" data-ng-href="/#!/admin/users/{{u._id}}/password">********</a>
          <span data-ng-if="!canEdit(u)">********</span>
        </td>
        <td>
          <span data-ng-if="u.roles.indexOf('admin') > -1">Admin</span>
          <span data-ng-if="u.roles.indexOf('admin') === -1">User</span>
        </td>
        <td>{{u.created | date:'dd.MM.yy'}}</td>
      </tr>
    </tbody>
  </table>
</section>
