<section class="row" data-ng-controller="AuthenticationController">
  <div data-ng-if="!iframe.check">
    <h3 class="col-md-12 text-center">Sign into your account</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div data-ng-if="iframe.check" class="text-center">
    <h3>Sign in with your Prospero account</h3>
    <button type="button" class="btn btn-lg btn-primary" data-ng-click="iframe.login()">Sign in</button>
  </div>
</section>
