/* line 3, ../sass/main.scss */
.hashtags a.label {
  display: inline-block;
  margin: 0.3rem 0;
}

/* line 8, ../sass/main.scss */
.post-anchor {
  position: relative;
  top: -60px;
}

/* line 13, ../sass/main.scss */
video {
  width: 100%;
  max-height: 37.5rem;
}

/* line 18, ../sass/main.scss */
.file-wrapper img {
  width: 100%;
  margin-bottom: 0.5rem;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 22, ../sass/main.scss */
.file-wrapper img[data-src], .file-wrapper img .lazy-hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 25, ../sass/main.scss */
.file-wrapper img.lazy-loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 33, ../sass/main.scss */
.file-thumb-view {
  cursor: pointer;
}

/* line 38, ../sass/main.scss */
.file-view img {
  margin: 0 auto 0.5rem auto;
}

/* line 44, ../sass/main.scss */
.expanded .file-wrapper {
  max-height: 1066px;
}
/* line 45, ../sass/main.scss */
.expanded .file-thumb-view {
  cursor: auto;
}

/* line 48, ../sass/main.scss */
.expand-post, .collapse-post {
  cursor: pointer;
}

/* line 52, ../sass/main.scss */
.tweet {
  font-size: 1.6em;
}
